:root{
    --duration: 60s;
}

body
{
    background-image:url(wallpaper.png);
}

.clock {
    position:absolute;
    width: 150px;
    height: 150px;
    border: 11px solid #ac4d00;
    border-radius: 100px;
    left: 50%;
    top: 40%;
    background: #fefbf2;
    transform: translate(-50%, -50%);
    box-shadow: inset 0px 0px 15px black;
}

.clock::before {
    position: absolute;
    content: '';
    height: 50px;
    width: 5px;
    background: black;
    top: 50%;
    left: calc(50% - 2px);
    border-radius: 50px;
    animation: spin calc(var(--duration)/10) linear infinite;
    transform-origin: top;
}

.clock::after {
    position: absolute;
    content: '';
    height: 30px;
    width: 5px;
    background: black;
    top: 50%;
    left: calc(50% - 2px);
    border-radius: 50px;
    animation: spin var(--duration) linear infinite;
    transform-origin: top;
}

.clock_container::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #ac4d00;
    z-index : 2;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.clock_container::after{
    content: '';
    position: absolute;
    top: 10%;
    left: 50%;
    width: 2px;
    height: 8px;
    background: black;
    z-index:2;
    transform:translate(-50%, -50%);
    box-shadow: 60px 60px 0 0 black, -60px 60px 0 0 black, 0 120px 0 0 black;
}

@keyframes spin{
    0% {
        transform: rotate(-180deg)
    }
    100% {
        transform: rotate(180deg)
    }
}

.pendule{
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wire1{
    content: '';
    width: 5px;
    height: 80px;
    background: black;
}

.weight1{
    background: black;
    height: 100px;
    width: 35px;
    border-radius: 50%;
}

.wire2{
    content: '';
    width: 5px;
    height: 90px;
    background: black;
}

.weight2{
    background: black;
    height: 70px;
    width: 30px;
    border-radius: 50%;
}

.door_background {
    background-color: #000000;
    border-radius: 8%;
    height: 100px;
    width: 100px;
    perspective: 700px;
    perspective-origin: center;
    position: absolute;
    right: -50px;
    top: 65px;
}

.bird{
    height: 100px;
    width: 100px;
    border-radius: 8%;
    z-index: 0;
    animation: bird 6s linear infinite;
}

.door_right {
    background-color: #C5A48A;
    content: "";
    border-radius: 5%;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 0;
    animation: door_right 6s linear infinite;
    transform: translateZ(0);
    transform-origin: 100% 100%;
    width: 50px;
}

.door_left {
    background-color: #C5A48A;
    border-radius: 5%;
    content: "";
    height: 100px;
    left: 0;
    position: absolute;
    top: 0;
    animation: door_left 6s linear infinite;
    transform: translateZ(0);
    transform-origin: 0% 0%;
    width: 50px;
}

@keyframes door_right {
    0% {
        transform: translateZ(0) rotateY(0deg);
    }
    35% {
        transform: translateZ(0) rotateY(90deg);
    }
    40% {
        transform: translateZ(0) rotateY(0deg);
    }
}

@keyframes door_left {
    0%{
        transform :translateZ(0) rotateY(0deg);
    }
    35% {
        transform : translateZ(0) rotateY(-90deg);
    }
    40% {
        transform : translateZ(0) rotateY(0deg);
    }
}

.form {
    height: 300px;
    width: 300px;
    background-color: #d2691e;
    border-bottom: solid 8px #6B360F;
    border-left: solid 8px #6B360F;
    border-right: solid 8px #6B360F;
    z-index: -1;
}

.triangle {
    transform: translate(-50%, -50%);
    border-left: 145px solid transparent;
    border-right: 145px solid transparent;
    border-bottom: 175px solid #d2691e;
    stroke:#6B360F;
    z-index: -2;
    position: absolute;
    top: 16%;
}

.roof {
    height: 0;
    width: 0;
    border-left: 170px solid transparent;
    border-right: 170px solid transparent;
    border-bottom: 200px solid #6B360F;
    z-index: -2;
}
.horloge {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poids {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;
}

.bird{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 8%;
    transform: translateZ(0);
    animation: bird1 6s linear infinite;
}

@keyframes bird1 {
    18% {
        transform: translateZ(0) scaleY(0.5) scaleX(0.5);

    }
    22%{
        opacity:100%;
    }
    23%{
        opacity:20%
    }
    25% {
        transform: translateZ(0) scaleY(1.5) scaleX(1.5);
        opacity: 0;
    }
    26%{
        opacity:20%
    }
    28%{
        opacity:100%
    }
    30% {
        transform: translateZ(0) scaleY(0) scaleX(0);
    }
    32% {
        transform: translateZ(0) scaleY(1) scaleX(1);
    }
}

#coucou{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 8%;
    z-index: 1;
    transform: translateZ(0);
    animation: bird 6s linear infinite;
    opacity:0 ;
}

@keyframes bird {
    23% {
        opacity: 0;
    }
    24% {
        opacity: 50;
    }
    25% {
        transform: translateZ(0) scaleY(2) scaleX(2);
        opacity: 100;
    }
    28% {
        transform: translateZ(0) scaleY(1) scaleX(1);
        opacity: 75;
    }
    30% {
        opacity: 50;
    }
    31% {
        opacity: 0;
    }
}


