:root {
    --duration: 6s;
}

body
{
    background-image:url(wallpaper.jpg);
    background-size: cover;
}

/* Forme de la pendule */

#roof_coffer {
    transform: translate(-50%, -50%);
    border-left: 145px solid transparent;
    border-right: 145px solid transparent;
    border-bottom: 175px solid #74411d;
    stroke:#6B360F;
    z-index: -2;
    position: relative;
    top: 120px;
}

#roof {
    height: 0;
    width: 0;
    border-left: 170px solid transparent;
    border-right: 170px solid transparent;
    border-bottom: 200px solid #3f2009;
    z-index: -2;
}

#coffer {
    height: 300px;
    width: 300px;
    background-color: #74411d;
    border-bottom: solid 8px #3f2009;
    border-left: solid 8px #3f2009;
    border-right: solid 8px #3f2009;
    z-index: -1;
}

/* Cadran de l'horloge */

#dial {
    position: relative;
    width: 150px;
    height: 150px;
    border: 11px solid #3f2009;
    border-radius: 100px;
    background: #fdf6e1;
    top: 64px;
    left: 64px;
    box-shadow: inset 0px 0px 15px black;
}

#dial::before {
    content: '';
    height: 50px;
    width: 5px;
    background: black;
    position: absolute;
    top: 50%;
    left: calc(50% - 2px);
    border-radius: 50px;
    animation: spin var(--duration) linear infinite;
    transform-origin: top;
}

#dial::after {
    content: '';
    height: 30px;
    width: 5px;
    background: black;
    position: absolute;
    top: 50%;
    left: calc(50% - 2px);
    border-radius: 50px;
    animation: spin calc(var(--duration)*12) linear infinite;
    transform-origin: top;
}

#dial_container::before {
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #8F4914;
    z-index : 2;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

#dial_container::after {
    content: '';
    position: absolute;
    top: 10%;
    left: 50%;
    width: 2px;
    height: 8px;
    background: black;
    z-index:2;
    transform:translate(-50%, -50%);
    box-shadow:0 120px 0 0 black;
}

#decorating_dial {
    content: '';
    position: absolute;
    top: 50%;
    left: 10%;
    width: 8px;
    height: 2px;
    background: black;
    z-index:2;
    transform:translate(-50%, -50%);
    box-shadow: 120px 0 0 0 black;
}

/* Rotation des aiguilles */

@keyframes spin {
    0% {
        transform: rotate(-180deg)
    }
    100% {
        transform: rotate(180deg)
    }
}

/* Poids de l'horloge */

#wire_left {
    content: '';
    width: 5px;
    height: 10px;
    background: black;
    animation: weight_left calc(var(--duration)*24) linear infinite;
}

#weight_left {
    background: black ;
    height: 100px;
    width: 35px;
    border-radius: 50%;
    position: relative;
    top: -1px;
}

#wire_right {
    content: '';
    width: 5px;
    height: 10px;
    background: black;
    animation: weight_right calc(var(--duration)*24) linear infinite;
}

#weight_right {
    background: black ;
    height: 70px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    top: -1px;
}

/* Descente des poids de l'horloge */
/* Poids de gauche */

@keyframes weight_left {
    0%{
        height: 10px;
    }
    50%{
        height : 80px;
    }
    99%{
        height: 150px;
    }
    100%{
        height: 10px;
    }
}

/* Poids de droite */

@keyframes weight_right {
    0%{
        height: 10px;
    }
    50%{
        height : 150px;
    }
    99%{
        height: 150px;
    }
    100%{
        height: 10px;
    }
}

/* Porte du coucou */

#door_background {
    background-color: #000000;
    border-radius: 8%;
    height: 100px;
    width: 100px;
    perspective: 700px;
    perspective-origin: center;
    position: absolute;
    right: -50px;
    top: 65px;
}

#door_right {
    background-color: #3f2009;
    content: "";
    border-radius: 5%;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 0;
    animation: door_right calc(var(--duration)) linear infinite;
    transform: translateZ(0);
    transform-origin: 100% 100%;
    width: 50px;
}

#door_left {
    background-color: #3f2009;
    border-radius: 5%;
    content: "";
    height: 100px;
    left: 0;
    position: absolute;
    top: 0;
    animation: door_left calc(var(--duration)) linear infinite;
    transform: translateZ(0);
    transform-origin: 0% 0%;
    width: 50px;
}

/* Ouverture des portes du coucou */
/* Porte de droite*/

@keyframes door_right {
    0% {
        transform: translateZ(0) rotateY(0deg);
    }
    5% {
        transform: translateZ(0) rotateY(90deg);
    }
    10% {
        transform: translateZ(0) rotateY(0deg);
    }
}

/* Porte de gauche*/

@keyframes door_left {
    0%{
        transform :translateZ(0) rotateY(0deg);
    }
    5% {
        transform : translateZ(0) rotateY(-90deg);
    }
    10% {
        transform : translateZ(0) rotateY(0deg);
    }
}

/* Le coucou */

#bird {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 8%;
    transform: translateZ(0);
    animation: bird calc(var(--duration)) linear infinite;
}

#wing_bird {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 8%;
    z-index: 1;
    transform: translateZ(0);
    animation: wing_bird calc(var(--duration)) linear infinite;
    opacity:0 ;
}

/* Apparition du coucou */

@keyframes bird {
    0% {
        transform: translateZ(0) scaleY(0.5) scaleX(0.5);

    }
    2%{
        opacity:100%;
    }
    3%{
        opacity:20%
    }
    5% {
        transform: translateZ(0) scaleY(1.5) scaleX(1.5);
        opacity: 0;
    }
    6%{
        opacity:20%
    }
    7%{
        opacity:100%
    }
    8% {
        transform: translateZ(0) scaleY(0) scaleX(0);
    }
    9% {
        transform: translateZ(0) scaleY(1) scaleX(1);
    }
}

/* Appariton du coucou avec ailes */

@keyframes wing_bird {
    2% {
        opacity: 0;
    }
    3% {
        opacity: 50;
    }
    4% {
        transform: translateZ(0) scaleY(2) scaleX(2);
        opacity: 100;
    }
    6% {
        transform: translateZ(0) scaleY(1) scaleX(1);
        opacity: 75;
    }
    7% {
        opacity: 50;
    }
    8% {
        opacity: 0;
    }
}

/* Flex */
/* Flex des poids et de leur fil */

.pendulum{
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Flex des poids par rapport à leur support*/

#weights {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;
}

/* Flex du carré et du triangle formant l'horloge */

#clock {
    display: flex;
    flex-direction: column;
    align-items: center;
}